<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroUsuário</title>
    <link rel="stylesheet" href="/styles/CadastroUsuario.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style=" background-color: #f8f9fa;">
    <nav id="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/icon.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
            WEB Barber
        </a>
    </nav>

    <div id="text">
        <h4>Cadastro Cliente</h4>
    </div>

    <div id="container">
        <div id="box">
            <form action="/cadastrarCliente" method="POST" id="FormSenha" name="FormSenha"  onsubmit="validarSenha()">
                <div id="centralizar align-items-center">
                    <p> Nome completo</p>
                    <input type="text" name="Nome" class="btnnome" id="campoNome" placeholder="xxxxxx xxxxxx xxxxxx"
                    required   value="<%= field.Nome %>">
                    <p class="down"> Telefone</p>
                    <input type="text" name="Telefone" id="campoTelefone" class="btnnome" placeholder="(00) 0 0000-0000"
                    required   value="<%= field.Telefone %>">
                    <p class="down"> CPF</p>
                    <input type="text" name="CPF" id="campoCPF" class="btnnome" placeholder="000.000.000-00" required value="<%= field.CPF %>">
                    <p class="down"> Data de nascimento</p>
                    <input type="date" name="DataNasc" id="campoData" class="btnnome" placeholder="00/00/0000"
                    required   value="<%= field.DataNasc %>">
                    <p class="down"> CEP</p>
                    <input type="text" name="CEP" id="campoCEP" class="btnnome" placeholder="00.000-000" required value="<%= field.CEP %>">
                    <p> E-mail</p>
                    <input type="email" name="Email" class="btnnome" placeholder="xxxxxxxxxx@xxxx.com"
                     required  value="<%= field.Email %>">
                    <p class="down"> Senha</p>
                    <input type="password" name="Senha" class="btnnome" id="NovaSenha" placeholder="***************" required value="">
                    <p class="down">Confirmar Senha</p>
                    <input type="password" class="btnnome" id="CNovaSenha" placeholder="***************" required value="">

                    <div class="d-flex justify-content-center mt-3">
                        <button id="botaoproximo" type="submit"> Proximo ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/scriptCadastroCliente.js"></script>

    <% if(erro==1){ %>
        <script>
            alert("O CPF já está cadastrado!")
        </script>
        <% } %>
</body>

</html>